:root {
  --primary: #070700;
  --background: #ffffff;
  --primary-text: #070700;
  --secondary: #ffffff;
  --secondary-text: #070700;
  --accent: #070700;
  --accent-text: #070700;
  --bnb: #340285;
}
